﻿<%@ Page Title="Bestätigung" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Bestaetigung.aspx.cs" Inherits="SpordersOnline._Bestaetigung" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server" >

    <div class="row">
        <div class="col-md-4">
            <p>
                &nbsp;</p>
            <p>
                &nbsp;</p>
            <p>
                <asp:Label ID="lbHeadline" runat="server" Font-Bold="True" Font-Size="XX-Large" ForeColor="White" Text="Herzlich Willkommen bei "></asp:Label>
            </p>
            <p>
                &nbsp;</p>
            <p>
                <asp:Image ID="Image1" runat="server" Width="100%" />
            </p>
            <p>
                &nbsp;</p>
            <p>
                <asp:Label ID="lbErgebnis" runat="server" Text="Label" Font-Size="Large" ForeColor="White"></asp:Label>
            </p>
            <asp:Panel ID="Panel1" runat="server">
            </asp:Panel>
            <p>
                &nbsp;</p>
            <p>
                &nbsp;</p>
        </div>
    </div>

</asp:Content>
