﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Empty.Master.cs" Inherits="SpordersOnline.SiteMaster" %>

<!DOCTYPE html>

<html lang="de" style="background-color: #000000">
<head runat="server" style="background-color: #000000">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" style="background-color: #000000" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sporders</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>
    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>
<body style="background-color: #000000">
    <form runat="server" style="color: #000000; background-color: #000000;">
        <asp:ScriptManager runat="server">
            <Scripts>

            </Scripts>
        </asp:ScriptManager>

        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContentEmpty" runat="server">
            </asp:ContentPlaceHolder>
            <footer>

            </footer>
        </div>
    </form>
</body>
</html>
