﻿<%@ Page Title="Flyer" Language="C#" MasterPageFile="~/Empty.Master" AutoEventWireup="true" CodeBehind="Flyer.aspx.cs" Inherits="SpordersOnline.Contact" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContentEmpty" runat="server">
    <h2>&nbsp;</h2>
    <p class="MsoNormal" style="color: #FFFFFF">
        <asp:Image ID="Image1" runat="server" Height="805px" ImageUrl="~/images/Flyer Sporders04 Facebook.png" Width="528px" />
    </p>
</asp:Content>
